.weather-card-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 100px;
  overflow: hidden;
  border-radius: .5em;
  background-color: white;
}

.weather-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-title {
  text-align: center;
}

.weather-card-current {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 60px;
}

.weather-card-high-low {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}