.weather-card-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 100px;
  overflow: hidden;
  border-radius: .5em;
  background-color: white;
  margin-right: 20px;
}

.weather-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
}

.card-title {
  text-align: center;
}

.weather-card-current {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 45px;
}